## Deleting old and Creating a new Table

In [2]:
import sqlite3
conn = sqlite3.connect('music.sqlite')      #The connect operation makes a “connection” to the database stored in the file
                                            #music.sqlite3 in the current directory.
                                            #If the file does not exist, it will be created.
                                            #The reason this is called a “connection” is that sometimes the database is stored 
                                            #on a separate “database server”
                
                
cur = conn.cursor()                         # A cursor is like a file handle that we can use to perform operations on the data
                                            # stored in the database.
                                            
        
                                 # we can begin to execute commands on the contents of
                                 # the database using the execute() method.
    
    
cur.execute('DROP TABLE IF EXISTS Tracks')   #This SQL command removes the Tracks table from the database if it exists.  
                                             # This pattern is simply to allow us to run the same program to create the Tracks
                                             # table over and over again without causing an error.

cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)')     #command creates a table named Tracks with a text column named
                                                                   #title and an integer column named plays.

conn.close()

### Data into that table using the SQL INSERT operation.

#### use commit() to force the data to be written to the database file.

In [14]:
import sqlite3
conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()

# SQL INSERT command indicates which table we are using and then defines a
# new row by listing the fields we want to include (title, plays) followed by the
# VALUES we want placed in the new row.

cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Thunderstruck', 20)   )
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('My Way', 15)          )

#use commit() to force the data to be written to the database file.
conn.commit()


# print('Tracks:')
# cur.execute('SELECT title, plays FROM Tracks')
# for row in cur:
#     print(row)
# cur.execute('DELETE FROM Tracks WHERE plays < 100')
# conn.commit()
# # cur.close()

### SELECT command to  retrieve the rows
Then we use the SELECT command to retrieve the rows we just inserted from the
table. On the SELECT command, we indicate which columns we would like (title,
plays) and indicate which table we want to retrieve the data from. After we
execute the SELECT statement, the cursor is something we can loop through in a
for statement. For efficiency, the cursor does not read all of the data from the
database when we execute the SELECT statement. Instead, the data is read on
demand as we loop through the rows in the for statement.

In [15]:

print('Tracks:')
cur.execute('SELECT title, plays FROM Tracks')
for row in cur:
    print(row)  
cur.execute('DELETE FROM Tracks WHERE plays < 100')
conn.commit()
cur.close()

Tracks:
('Thunderstruck', 20)
('My Way', 15)