In [1]:
users = [[0, "Hero", 0],
[1, "Dunn", 2],
[2, "Sue", 3],
[3, "Chi", 3]]

In [2]:
users

[[0, 'Hero', 0], [1, 'Dunn', 2], [2, 'Sue', 3], [3, 'Chi', 3]]

In [4]:
type(users)

list

In [6]:
CREATE TABLE users (
    user_id INT NOT NULL,
    name VARCHAR(200),
    num_friends INT);

SyntaxError: invalid syntax (<ipython-input-6-1e295e8d8101>, line 1)

In [7]:
INSERT INTO users (user_id, name, num_friends) VALUES (0, 'Hero', 0);

SyntaxError: invalid syntax (<ipython-input-7-06d4f1c11faf>, line 1)

In [9]:
class Table:
    def __init__(self, columns):
    self.columns = columns
    self.rows = []
    def __repr__(self):
    """pretty representation of the table: columns then rows"""
    return str(self.columns) + "\n" + "\n".join(map(str, self.rows))
    def insert(self, row_values):
    if len(row_values) != len(self.columns):
    raise TypeError("wrong number of elements")
    row_dict = dict(zip(self.columns, row_values))
    self.rows.append(row_dict)

IndentationError: expected an indented block (<ipython-input-9-0260d6c46e8a>, line 3)

In [10]:
users = Table(["user_id", "name", "num_friends"])
users.insert([0, "Hero", 0])
users.insert([1, "Dunn", 2])
users.insert([2, "Sue", 3])
users.insert([3, "Chi", 3])
users.insert([4, "Thor", 3])
users.insert([5, "Clive", 2])
users.insert([6, "Hicks", 3])
users.insert([7, "Devin", 2])
users.insert([8, "Kate", 2])
users.insert([9, "Klein", 3])
users.insert([10, "Jen", 1])

NameError: name 'Table' is not defined